{% extends "frontweb/header.html" %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <link
      rel="preload"
      href="{% static 'frontweb/css/recsol-style.css' %}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{% static 'frontweb/css/recsol-style.css' %}"
    />
  </head>

  <body>
    <div class="contenedor">
      <div class="titulo">
        <h1>Formulario de Solicitud o Reclamos</h1>
      </div>
      <!--FORMULARIO-->
      <form class="form" method="POST" action="/registrosr/">
        {% csrf_token %}
        <!--ESPACIO FOLIO Y FECHA-->
        <div class="form_1">
          <h2 class="formulario--label__1">FOLIO N°:</h2>
          <input
            class="formulario--input__1"
            name="folio"
            type="text"
            value="{{cfolio}}"
            readonly
          />

          <h2 class="formulario--label__2">FECHA:</h2>
          <input
            class="formulario--input__2"
            name="fechafolio"
            type="text"
            value="{{fecha}}"
            onfocus="(this.type='date')"
            readonly
          />
        </div>

        <!--ESPACIO TIPO ANEXO EMAIL Y CARGO-->
        <div class="form_2">
          <h2 class="formulario--label__3">Tipo de Formulario:</h2>
          <select required class="formulario--input__3" name="tipoform">
            <option disabled selected>SELECCIONE TIPO</option>
            <option>Solicitud</option>
            <option>Reclamo</option>
          </select>
          <h2 class="formulario--label__4">ANEXO:</h2>
          <input
            class="formulario--input__4"
            type="text"
            placeholder="ANEXO"
            name="anexo"
          />

          <h2 class="formulario--label__5">EMAIL (INSTITUCIONAL):</h2>
          <input
            id="email"
            class="formulario--input__5"
            name="email"
            type="text"
            placeholder="EMAIL"
            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
            oninput="chequeoEmail(this);"
          />

          <h2 class="formulario--label__6">CARGO:</h2>
          <select required class="formulario--input__6" name="cargo">
            <option disabled selected value="-1">SELECCIONE UN CARGO</option>
            {% for i in cargo %}
            <option value="{{ i.id_cargo }}">{{ i.nombre_cargo }}</option>
            {% endfor %}
          </select>
        </div>

        <!--ESPACIO DEPARTAMENTO SUB-DEP UNIDAD-->
        <div class="form_3">
          <h2 class="formulario--label__7">DEPARTAMENTO SOLICITANTE:</h2>
          <select required class="formulario--input__7" name="depto">
            <option disabled selected value="-1">
              SELECCIONE UN DEPARTAMENTO
            </option>
            {% for i in dpto %}
            <option value="{{ i.id_dpto }}" name="dpto">
              {{ i.nombre_dpto }}
            </option>
            {% endfor %}
          </select>

          <h2 class="formulario--label__8">SUB-DEPARTAMENTO SOLICITANTE:</h2>
          <select required class="formulario--input__8" name="subdpto">
            <option disabled selected value="-1">
              SELECCIONE UN SUBDEPARTAMENTO
            </option>
          </select>

          <h2 class="formulario--label__9">SECCION:</h2>
          <select required class="formulario--input__9" name="section">
            <option disabled selected value="-1">SELECCIONE UNA SECCION</option>
          </select>
        </div>

        <!--ESPACIO ULTIMA PARTE DE TEXTO Y BOTÓN-->
        <div class="form_4">
          <textarea class="formulario--input__10" name="comentario"></textarea>

          <div id="botonID" class="botonSubmit">
            <input class="boton" name='boton' type="submit" value="Enviar" />
          </div>
        </div>
      </form>

      <script>
        var select_sdpto = $('select[name="subdpto"]');
        var select_seccion = $('select[name="section"]');
        
        // DEVUELVE EL ID DE DPTO Y TRAE LOS SUBDEPTOS
        $(function () {
          $('select[name="depto"]').on("change", function () {
            var id = $(this).val();
            var options =
              '<option disabled selected value="-1">SELECCIONE UN SUBDEPARTAMENTO</option>';
            var opt =
              '<option disabled selected value="-1">SELECCIONE UNA SECCION</option>';
            $.ajax({
              url: window.location.pathname,
              type: "POST",
              data: {
                action: "search_sdpto_id",
                id: id,
              },
              dataType: "json",
            })
              .done(function (data) {
                if (!data.hasOwnProperty("error")) {
                  $.each(data, function (key, value) {
                    options +=
                      '<option value="' +
                      value.id +
                      '">' +
                      value.name +
                      "</option>";
                  });
                  return false;
                }
                message_error(data.error);
              })
              .fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ": " + errorThrown);
              })
              .always(function (data) {
                select_sdpto.html(options);
                select_seccion.html(opt);
              });
          });
        });

        // FUNCION VALIDA Y TRAE LOS DATOS DE SECCION
        $(function () {
          $('select[name="subdpto"]').on("change", function () {
            var id = $(this).val();
            var options =
              '<option disabled selected value="-1">SELECCIONE UNA SECCION</option>';
            $.ajax({
              url: window.location.pathname,
              type: "POST",
              data: {
                action: "search_seccion_id",
                id: id,
              },
              dataType: "json",
            })
              .done(function (data) {
                if (!data.hasOwnProperty("error")) {
                  $.each(data, function (key, value) {
                    options +=
                      '<option value="' +
                      value.id +
                      '">' +
                      value.name +
                      "</option>";
                  });
                  return false;
                }
                message_error(data.error);
              })
              .fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ": " + errorThrown);
              })
              .always(function (data) {
                select_seccion.html(options);
              });
          });
        });

      </script>
    </div>
  </body>
</html>
{% endblock %}
